@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-orange-50: #ffeceb;
  --color-orange-100: #ffdddb;
  --color-orange-200: #ffb7b3;
  --color-orange-300: #ff958f;
  --color-orange-400: #ff6e66;
  --color-orange-500: #ff4a40;
  --color-orange-600: #ff0d00;
  --color-orange-700: #c20a00;
  --color-orange-800: #800700;
  --color-orange-900: #420300;
  --color-orange-950: #1f0200;

  /* text-size variables */

  --text-xs: 10.5px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-xl: 17.5px;
  --text-2xl: 21px;
  --text-3xl: 24.5px;
  --text-4xl: 28px;
  --text-5xl: 35px;


  --text-sm-line-height: 150%;
  --text-xl-line-height: 150%;
  --text-2xl-line-height: 100%;
  --text-4xl-line-height: 100%;

  --color-custom-primary: #191D24;
  --color-custom-divider: #E5E7EB;
  --color-custom-secondary: #6B7280;
  --color-custom-icon: #838B9E;
  --color-custom-surface-border: #DFE7EF;
  --color-custom-surface-ground: #EFF3F8;

  --shadow-custom-card: #191D240D 0px 1px 3px 0px
}

@media (max-width: 1024px)  {
  @theme {
    --text-xl:  16px;
    --text-2xl: 18px;
    --text-3xl: 20px;
    --text-4xl: 22px;
    --text-5xl: 28px;
  }
}

@layer primevue {
  .p-inputgroupaddon + * > .p-inputtext, .p-inputgroupaddon + .p-inputtext {
    border-left: unset;
    padding-inline-start: 0.5rem;
  }

  .p-button, .p-inputtext, .p-tab {
    font-size: 0.875rem;
  }
}

body {
  background-color: #F2F4F6;
  color: var(--color-custom-primary);
}
